body{
  background-color: #ffff;
}

.card-body{
  background-color: #DCDCDC;
  border: 1px solid Darkgray;
}

.container-div{
  background-color: white;
  width: 500px;
  text-align: center;
  margin: 0 auto;
  padding: 10px;
  border: 2px solid black;
}
